*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(118, 255, 248);
    --text-color: black;
    --bg-color:tan;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.container{
    max-width: 1000px
    margin: auto;
    padding: 20px;
    align-items: center;
}
header{
    background: rgb(183, 152, 90);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.ul{
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
    .container-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .container-nav a{
        color: var(--text-color);
        text-decoration: none;
        margin: 0 15px;
        font-weight: bold;
        position: relative;
    }   
    .container-nav a:hover{
        color: var(--primary-color);
    }
.profile-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}
.btn{
    display: inline-block;  
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: dashed;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    border : 2px solid black;
    box-shadow : 0 2px 6px rgba(0, 0, 0, 0.1);
}
.btn:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
    transform: translateY(-2px);
}
h1{
    font-size: 40px; 
    margin-bottom: 10px;
    font-family: 'Lucida Handwriting', cursive;
}
h2{
    font-size: 28px;
    margin-bottom: 10px;
    font-family: 'Lucida Handwriting', cursive;
}
h3{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: lucida handwriting, cursive;

}
h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: 'Lucida Handwriting', cursive;
}
h5{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
}
section{
    margin-bottom: 20px;
    padding: 20px;
}
article{
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(183, 152, 90);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}